<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Encontrá el auto que estas buscando</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand" href="@Url.Action("Index","Home")">
                    <a href='@Url.Action("Index", "Home")'>
                        <img src='@Url.Content("../img/logo.png")' />
                    </a>
                </div>
            </div>
            <div class="navbar-collapse collapse" id="nav_prin">
                <ul class="nav navbar-nav col-md-6" style="margin:0;">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Nosotros", "Nosotros", "Home")</li>
                    <li>@Html.ActionLink("Autos","Autos","Home")</li>
                    <li>@Html.ActionLink("Promotores","Promotores","Home")</li>
                    <li>@Html.ActionLink("Contacto", "Contacto", "Home")</li>
                </ul>
                <div class="input-group col-md-offset-3" id="nav_search">
                    <div class="input-group-btn search-panel">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span id="search_concept">Filtros</span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#cars">Autos</a></li>
                            <li><a href="#promoters">Promotores</a></li>
                        </ul>
                    </div>
                    <input type="hidden" name="search_param" value="all" id="search_param">
                    <input type="text" class="form-control" name="x" placeholder="Escribe tu busqueda...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="fb-page" data-href="https://www.facebook.com/TusAutoscom-682055305282797/" data-tabs="message" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/TusAutoscom-682055305282797/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/TusAutoscom-682055305282797/">TusAutos.com</a></blockquote></div>
                </div>
                <div class="col-sm-4 col-md-offset-1">
                   <a href="">Primer Hipervinculo</a>
                   <a href="">Segundo Hipervinculo</a>
                   <a href="">Tercer Hipervinculo</a>
                   <a href="">Cuarto Hipervinculo</a>
                </div>
            </div>
            <div class="col-md-12" id="cred_foot">
                <p>&copy; TusAutos.com @DateTime.Now.Year - Una creación de Luis Reynoso</p>
            </div>
        </footer>
    </div>
    <div id="fb-root"></div>
    <script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
