@model TusAutos.Models.Auto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Auto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Consesionaria.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Consesionaria.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kilometros)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kilometros)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Combustible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Combustible)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gamma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gamma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
